
.recipe_card {
    width: 550px;
    margin: 16px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.recipe-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.recipeImg {

    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 16px;
}

.recipe_card h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
}

.recipe_card p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 8px;
    line-height: 1.5;
}

.recipe_card .category,
.recipe_card .origin {
    font-size: 0.9rem;
    color: #888;
    display: block;
}

.recipe_card .category {
    font-weight: bold;
}

.recipe_card .origin {
    font-style: italic;
}
